@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
	font-family: 'Raleway', sans-serif;
}

a, a:hover, a:active, a:focus, a:visited {
	cursor: pointer;
	text-decoration: none;
}

.fs-sm-10 { font-size: 10px !important; }
.fs-sm-11 { font-size: 11px !important; }
.fs-sm-12 { font-size: 12px !important; }
.fs-sm-13 { font-size: 13px !important; }
.fs-sm-14 { font-size: 14px !important; }
.fs-sm-15 { font-size: 15px !important; }
.fs-sm-16 { font-size: 16px !important; }
.fs-sm-18 { font-size: 18px !important; }
.fs-sm-21 { font-size: 21px !important; }
.fs-sm-24 { font-size: 24px !important; }
.fs-sm-26 { font-size: 26px !important; }
.fs-sm-28 { font-size: 28px !important; }
.fs-sm-32 { font-size: 32px !important; }
.fs-sm-36 { font-size: 36px !important; }
.fs-sm-42 { font-size: 42px !important; }
.fs-sm-48 { font-size: 48px !important; }
.fs-sm-56 { font-size: 56px !important; }
.fs-sm-62 { font-size: 62px !important; }
.fs-sm-72 { font-size: 72px !important; }
.fs-sm-84 { font-size: 84px !important; }
.fs-sm-120 { font-size: 120px !important; }
.fs-sm-175 { font-size: 175px !important; }
.fs-sm-200 { font-size: 200px !important; }

.fw-100 { font-weight: 100; }
.fw-200 { font-weight: 200; }
.fw-300 { font-weight: 300; }
.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }
.fw-600 { font-weight: 600; }
.fw-700 { font-weight: 700; }
.fw-800 { font-weight: 800; }
.fw-900 { font-weight: 900; }

.f-invert { filter: invert(100%); }
.f-brightness { filter: brightness(10); }
.f-dark { filter: brightness(0); }
.f-gray { filter: grayscale(100%); }

.br-10 { border-radius: 10px; }
.br-15 { border-radius: 15px; }
.br-20 { border-radius: 20px; }
.br-30 { border-radius: 30px; }

.ls-1 { letter-spacing: 1px;}
.ls-2 { letter-spacing: 2px;}
.ls-3 { letter-spacing: 3px;}
.ls-4 { letter-spacing: 4px;}
.ls-5 { letter-spacing: 5px;}
.ls-10 { letter-spacing: 10px;}

.lh-1-2 { line-height: 1.2; }
.lh-1-3 { line-height: 1.3; }
.lh-1-4 { line-height: 1.4; }
.lh-1-5 { line-height: 1.5; }
.lh-1-6 { line-height: 1.6; }
.lh-1-7 { line-height: 1.7; }
.lh-1-8 { line-height: 1.8; }
.lh-1-9 { line-height: 1.9; }

.cursor-pointer { cursor: pointer; }


.ellipsis-2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.ellipsis-3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.bg-img {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-img-contain {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
}

.bg-img-50 {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 70%;
}

.bg-img-center {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 48px;
}

.bg-img-fixed {
	background-attachment: fixed;
}

.bg-cian {
	background-color: #00B2FF;
}

.bg-opacity-5 {
	--bs-bg-opacity: .05;
}

.bg-opacity-5 {
	--bs-bg-opacity: .1;
}

.bg-blue-light {
	background-color: #efeef1;
}

.border-dashed {
	border: 1px dashed #d8d8d8 !important;
}

.border-bottom-dashed {
	border-style: none none dashed !important;
	border-color: transparent transparent #d8d8d8;
	border-width: 0 0 1px;
}

.li-disc {
	list-style-type: disc;
}

.badge-light-success {
	color: #20d489;
	background-color: #e4fff4;

	&.border-dashed {
		border-color: #20d489 !important;
	}
}

.badge-light-danger {
	color: #f1416c;
	background-color: #ffeff3;

	&.border-dashed {
		border-color: #f1416c !important;
	}
}

.badge-light-primary {
	color: #00b2ff;
	background-color: #f1faff;

	&.border-dashed {
		border-color: #00b2ff !important;
	}
}

.badge-light-info {
	color: #5710b2;
	background-color: #f6f1fc;

	&.border-dashed {
		border-color: #5710b2 !important;
	}
}

.badge-light-warning {
	color: #ffc700;
	background-color: #fff8dd;

	&.border-dashed {
		border-color: #ffc700 !important;
	}
}

.badge-light-secondary {
	color: #767676;
	background-color: #292929;
}

.w-sm-50 {
	width: 50%;
}


.status-pending {
	background-color: #FFFCD0;
	color: #FFBA00;
}

.status-payed {
	background-color: #EAEFFF;
	color: #3B6CFF;
}

.status-preparation {
	background-color: #FFEDD3;
	color: #FF851C;
}

.status-control {
	background-color: #D5F5FF;
	color: #0A96D5;
}

.status-packaging {
	background-color: #FFF4FF;
	color: #C975C6;
}

.status-ready {
	background-color: #C3FFF9;
	color: #13C6B4;
}

.status-shipped {
	background-color: #DAF7AB;
	color: #69AA00;
}

.status-canceled {
	background-color: #ffeff3;
	color: #f1416c;
}



.btn-success, .bg-success {
	background-color: #0cbc87 !important;
}
.btn-primary, .bg-primary {
	background-color: #5143d9 !important;
}
.btn-danger, .bg-danger {
	background-color: #d6293e !important;
}
.btn-warning, .bg-warning {
	background-color: #f7c32e !important;
}
.btn-info, .bg-info {
	background-color: #17a2b8 !important;
}

.btn-success, .btn-outline-success {
	border-color: #0cbc87 !important;
}
.btn-primary, .btn-outline-primary {
	border-color: #5143d9 !important;
}
.btn-danger, .btn-outline-danger {
	border-color: #d6293e !important;
}
.btn-warning, .btn-outline-warning {
	border-color: #f7c32e !important;
}
.btn-info, .btn-outline-info {
	border-color: #17a2b8 !important;
}

.btn-outline-success {
	color: #0cbc87 !important;

	&:hover {
		background-color: #0cbc87 !important;
		color: #FFF !important;
	}
}
.btn-outline-primary {
	color: #5143d9 !important;

	&:hover {
		background-color: #5143d9 !important;
		color: #FFF !important;
	}
}
.btn-outline-danger {
	color: #d6293e !important;

	&:hover {
		background-color: #d6293e !important;
		color: #FFF !important;
	}
}
.btn-outline-warning {
	color: #f7c32e !important;

	&:hover {
		background-color: #f7c32e !important;
		color: #FFF !important;
	}
}
.btn-outline-info {
	color: #17a2b8 !important;

	&:hover {
		background-color: #17a2b8 !important;
		color: #FFF !important;
	}
}

.text-success {
	color: #0cbc87 !important;
}
.text-primary {
	color: #5143d9 !important;
}
.text-danger {
	color: #d6293e !important;
}
.text-warning {
	color: #f7c32e !important;
}
.text-info {
	color: #17a2b8 !important;
}

.border-primary {
	border-color: #5143d9 !important;
}


.shadow {
	box-shadow: 0px 0px 40px rgb(29 58 83 / 10%) !important;
}

.shadow2 {
	box-shadow: 0 0 20px 0 rgb(76 87 125 / 2%);
}

.text-del {
	text-decoration: line-through;
}

.footer-tempaltes {
	background: #FF6760;
	background: linear-gradient(45deg, #FF6760, #2D2CE5);
}

@media( max-width:767px ) {
	.w-xs-75 {
		width: 50%;
	}

	.fs-10 { font-size: 10px !important; }
	.fs-11 { font-size: 11px !important; }
	.fs-12 { font-size: 12px !important; }
	.fs-13 { font-size: 13px !important; }
	.fs-14 { font-size: 14px !important; }
	.fs-15 { font-size: 15px !important; }
	.fs-16 { font-size: 16px !important; }
	.fs-18 { font-size: 18px !important; }
	.fs-21 { font-size: 21px !important; }
	.fs-24 { font-size: 24px !important; }
	.fs-26 { font-size: 26px !important; }
	.fs-28 { font-size: 28px !important; }
	.fs-32 { font-size: 32px !important; }
	.fs-36 { font-size: 36px !important; }
	.fs-42 { font-size: 42px !important; }
	.fs-48 { font-size: 48px !important; }
	.fs-56 { font-size: 56px !important; }
	.fs-62 { font-size: 62px !important; }
	.fs-72 { font-size: 72px !important; }

	.bg-xs-transparent {
		background-color: transparent !important;
	}

	.bg-xs-white {
		background-color: white !important;
	}

	.text-center-mobile{
		text-align: center;
	}
}