@import "_custom.css";

:root{
    --c-primary: #7FC6BA;
    --c-secondary: #F1B20A;
    --gray-light: #F6F6F6;
}

body{
    background-color: var(--gray-light);
}

.sidebar{
    border-radius: 0px 35px 35px 0;
    padding-top: 40px;
}

.c-primary{
    color: var(--c-primary) !important;
}

.bg-primary{
    background-color: var(--c-primary) !important;
}

.border-primary{
    border-color: var(--c-primary) !important;
}

.c-secondary{
    color: var(--c-secondary) !important;
}

.bg-secondary{
    background-color: var(--c-secondary) !important;
}

.border-secondary{
    border-color: var(--c-secondary) !important;
}

.bg-gray-light{
    background-color: var(--gray-light) !important;
}

.logo{
    max-width: 180px;
}

.image-bg{
    background-repeat: no-repeat;
    background-position: left 117%;
    background-size: 100%;
}

.templates{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px 15px;
    padding-bottom: 20px;
}

.header-invitation{
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-invitation:before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(255,255,255,0.1) 120%);
}

.template-details{
    margin-top: -20px;
    position: relative;
}

.actions{
    bottom: 10px;
}

.individual-invitation{
    height: calc(100% - 30px);
}

.navbar{
    display: none;
}

@media screen and (max-width: 900px) {
    .templates{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 500px){
    .templates{
        grid-template-columns: repeat(1,1fr);
    }
    .bg-black.sidebar, .search, .top-text .actions{
        display: none!important;
    }
    .navbar{
        display: block;
    }
    .navbar button.navbar-toggler{
        border: none;
    }
    .top-text{
        align-items: center!important;
    }
    .image-bg{
        background-size: auto;
        background-position: right 117%;
        min-height: 100vh;
    }
    .header-invitation{
        position: absolute;
        top: 0;
        width: 100%;
    }

}

@media screen and (max-width: 400px) {

}