@import "_custom.css";

:root {
    --c-primary: #7FC6BA;
    --c-secondary: #F1B20A;
    --gray: #707070;
    --gray-light: #F6F6F6;
}

a {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

body {
    background-color: var(--gray-light);
    min-height: 100vh;
    padding: 0px !important;
}

.sidebar {
    border-radius: 0px 35px 0px 0;
    padding-top: 40px;
}

.c-primary {
    color: var(--c-primary) !important;
}

.bg-primary {
    background-color: var(--c-primary) !important;
}

.border-primary {
    border-color: var(--c-primary) !important;
}

.c-secondary {
    color: var(--c-secondary) !important;
}

.bg-secondary {
    background-color: var(--c-secondary) !important;
}

.border-secondary {
    border-color: var(--c-secondary) !important;
}

.bg-gray-light {
    background-color: var(--gray-light) !important;
}

.c-gray {
    color: var(--gray) !important;
}

.bg-gray {
    background-color: var(--gray) !important;
}

.logo {
    max-width: 180px;
}

.image-bg {
    background-repeat: no-repeat;
    background-position: left 117%;
    background-size: 100%;
}

.templates {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px 15px;
    padding-bottom: 20px;
}

.header-invitation {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-invitation:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0.1) 120%);
}

.template-details {
    margin-top: -20px;
    position: relative;
}

.actions {
    bottom: 10px;
    left: 8rem;
}

.individual-invitation {
    /* height: calc(100% - 30px); */
}

.navbar {
    display: none;
}

.panel-prev {
    /* left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0px 15px 15px;
    padding: 12px 25px; */
}

.modal-header,
.modal-footer {
    border: 0 !important;
}

.navbar {
    display: none;
}

.invitation .arrow {
    display: none;
}

.buttons-invitation a {
    position: relative;
}

.buttons-invitation a:hover,
.buttons-invitation a.active {
    font-weight: 600;
}

.buttons-invitation a:before {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 0%;
    background-color: var(--c-primary);
    right: -16px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.buttons-invitation a:hover:before,
.buttons-invitation a.active:before {
    height: 100%;
    opacity: 1;
}


/* PANEL HOME */

.individual-invitation .row .bg-primary {
    width: 60px;
    height: 60px;
}

.tns-controls {
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
}

.tns-controls [data-controls="prev"],
.tns-controls [data-controls="next"] {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0;
    height: 24px;
    padding: 0;
    position: absolute;
    width: 24px;
}

.tns-controls [data-controls="prev"] {
    background-image: url('/img/icons/ico-arrow-prev.svg');
    left: 0;
}

.tns-controls [data-controls="next"] {
    background-image: url('/img/icons/ico-arrow-next.svg');
    right: 0;
}

.score {
    right: 2rem;
    bottom: -25px;
}

.border-shadow {
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
        0 5px 15px 0 rgba(37, 44, 97, 0.15);
}

.wedding .btn-underline:hover {
    opacity: 0.7;
}

/* INTERNA MODELO */

#model1 .modal-content {
    min-width: 700px;
}

#model2 .modal-content,
#model3 .modal-content {
    min-width: 700px;
    height: auto;
}

#model1 .modal-body .bg button {
    width: fit-content;
    margin: 0 auto;
}

#model2 .modal-body p,
#model3 .modal-body p {
    max-width: 450px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.icon-arrow {
    transform: rotate(270deg);
    width: 18px;
}

#plans .bg-price {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

#panel_edit .form-check-input:checked {
    background-color: #40CC65;
    border-color: #40CC65;
}

#panel_edit .form-check {
    border-end-end-radius: 0px !important;
    border-start-end-radius: 0px !important;
}

#panel_edit .form-select {
    border-start-start-radius: 0px !important;
    border-end-start-radius: 0px !important;

}

#panel_edit .form-select {
    background-image: url('/img/home-panel/arrow-white.svg');
    background-position: right 0.99rem center;
    background-size: 14px 12px;
}

#panel_edit .form-select.premium {
    background-image: url('/img/home-panel/star.svg');
    background-position: right 2rem center;
    background-size: 14px 12px;
}

#panel_edit .form-select.vip {
    background-image: url('/img/home-panel/corona.svg');
    background-position: right 2rem center;
    background-size: 14px 12px;
}

#panel_edit .form-check-input {
    width: 1.2rem !important;
    height: 1.2rem !important;
}

.save .bg-gray:hover {
    background-color: var(--c-primary) !important;
}


.sidebar .save {
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
    -webkit-box-shadow: -1px -10px 22px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -10px 22px -4px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -10px 22px -4px rgba(0, 0, 0, 0.75);
}

.options-edit .accordion-button:hover {
    z-index: 0;
}

.options-edit .accordion-body img {
    width: 100%;
}

.options-edit .accordion-button {
    padding-top: 17px;
    padding-bottom: 18px;
    border-start-start-radius: 0px !important;
    border-end-start-radius: 0px !important;
}

.options-edit .accordion-button::after {
    background-image: url('/img/home-panel/arrow-white.svg');
    background-size: 1rem;
    transform: translateY(8px);
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(180deg) translate(10px, 6px) !important;
}

#panel_sections .accordion-item {
    background-color: inherit !important;
}

.accordion .accordion-button {
    border-start-start-radius: 0px !important;
    border-end-start-radius: 0px !important;
    padding-top: 18px;
}

.accordion-button::after {
    filter: brightness(0) invert(100%) sepia(3%) saturate(12%) hue-rotate(103deg) brightness(105%) contrast(105%);
    width: 2rem;
}

.premium .accordion-button::after {
    background-image: url(/img/star.svg);
    filter: none;
}

.vip .accordion-button::after {
    background-image: url(/img/corona.svg);
    filter: none;
}

.h-primary:hover {
    background-color: var(--c-primary) !important;
    border: var(--c-primary);
}

.opacity_btn:hover {
    opacity: 0.7;
}

/* CARROUSEL */

.splide{
    visibility: visible;
}

.splide__thumbnails {
    margin-top: 20px;
}

.splide__thumbnails .splide__slide {
    display: inline-block;
    margin-right: 10px;
}

.splide__thumbnails .splide__slide img {
    width: 150px;
    /* Ancho personalizado de miniaturas */
    height: auto;
    /* Altura automática */
    border-radius: 5px;
}

.splide__arrow{
    background-color: white;
}

.start {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar .subtitle{
    display: none;
}

/* END INTERNA MODELO */

@media screen and (max-width: 1762px){
    .sidebar {
         width: 320px; 
    }
    
}

@media screen and (max-width: 1340px){
    .info-product{
        display: grid;
    }
    .info-product .col-sm-2{
        width: 100%;
        grid-row-start: 2;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .info-product .col-sm-2 .splide__list {
        flex-direction: row !important;
        gap: 0px!important;
    }
    .info-product .splide__thumbnails .splide__slide img{
        width: 100%;
    }

    .info-product .description{
        width: 100%;
    }
    .info-product .col-sm-5{
        width: 100%;
    }
    .info-product .col-sm-5 .splide__slide img{
        width: auto!important;
    }
    .info-product .splide__slide{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1200px) {
    #plans .row {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    #plans .row>div {
        width: 100%;
    }

    #plans button.btn {
        width: auto !important;
    }
}

@media screen and (max-width: 900px){
    .card{
        width: 100%!important;
    }
}

@media screen and (max-width: 500px) {
    .template-details {
        box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.02);
    }

    .template-details .model {
        background-color: var(--gray-light) !important;
        width: 100%;
        border-radius: 50px;
        padding: 0 30px;
    }

    .template-details .share {
        width: 100%;
        text-align: center;
    }

    .template-details span {
        display: none;
    }

    .template-details .btn {
        border-radius: 50% !important;
        padding: 10px !important;
        width: 48px;
        height: 48px;
    }

    .col-sm-10.py-5.px-sm-5 {
        /* padding: 0; */
    }

    .individual-invitation .pb-5 {
        padding-top: 150px;
    }

    .actions-btn {
        padding: 30px;
    }

    .actions-btn a {
        width: 100%;
        margin-bottom: 20px;
    }

    .invitation .top-text> :first-child {
        display: none;
    }

    .invitation span.navbar-toggler-icon.c-white {
        filter: brightness(0) invert(1);
    }

    .list .search,
    .list .search form {
        display: block !important;
    }

    .list .search,
    .make {
        width: 100% !important;
        margin-right: 0px !important;
        justify-content: center;
        padding: 1.5rem !important;
    }

    .list .search form>div {
        margin-bottom: 10px;
    }

    .list .row {
        padding: 0px 50px;
        justify-content: center;
    }

    .invitation .arrow {
        display: block;
    }

    .actions {
        left: 0;
    }

    #plans .arrow-white {
        transform: rotate(180deg);
        transition: 0.5s;
    }

    #plans .collapsed .arrow-white {
        transform: rotate(0deg);
    }
    #thumbnail-carousel{
        display: none;
    }
    .info-product .col-sm-5{
        padding: 0px;
        position: absolute;
        top: 0px;
    }
    .info-product .template-details .model{
        background-color: transparent!important;
    }
    .info-product{
        display: block;
    }
    .info-product .model-preview{
        padding-top: 170px!important;
        margin-top: 170px;
        z-index: 2;
    }
    .info-product .col-sm-5::before{
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0.1) 120%);
        z-index: 1;
    }

    .most-valued .card{
        width: auto!important;
    }

    .start{
        background-position: center left;
    }

    /* carousel home */

    .individual-invitation-mobile .splide__list{
        transform-style: inherit;
    }

    .individual-invitation-mobile .splide__slide img{
        vertical-align: inherit;
    }
}

.individual-invitation-mobile .slide-models  {
    width: 100%!important;
    transition-duration: 0.1s;
}

.individual-invitation-mobile .bg-primary{
    width: 60px;
    height: 60px;
}
/* END PANEL HOME */

@media screen and (max-width: 900px) {
    .templates {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .templates {
        grid-template-columns: repeat(1, 1fr);
        padding: 30px;
    }

    .search,
    .top-text .actions {
        display: none !important;
    }

    .navbar {
        display: block;
    }

    .navbar button.navbar-toggler {
        border: none;
    }

    .top-text {
        align-items: center !important;
        position: relative;
        z-index: 2;
        /* color: white; */
        padding: 0px 30px;
    }

    .image-bg {
        background-size: auto;
        background-position: right 117%;
        min-height: 100vh;
    }

    .header-invitation {
        position: absolute;
        top: 0;
        width: 100%;
        border-top-right-radius: 0px !important;
        border-top-left-radius: 0px !important;
        /* height: 350px;     */
    }

    .template-details {
        box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.02);
    }

    .template-details .model {
        background-color: var(--gray-light) !important;
        width: 100%;
        border-radius: 50px;
        padding: 0 30px;
    }

    .template-details .share {
        width: 100%;
        text-align: center;
    }

    .template-details span {
        display: none;
    }

    .template-details .btn {
        border-radius: 50% !important;
        padding: 10px !important;
        width: 48px;
        height: 48px;
    }

    .col-sm-10.py-5.px-sm-5 {
        /* padding: 0; */
    }

    .individual-invitation .pb-5 {
        padding-top: 150px;
    }

    .actions-btn {
        padding: 30px;
    }

    .actions-btn a {
        width: 100%;
        margin-bottom: 20px;
    }

    .invitation .top-text> :first-child {
        display: none;
    }

    .invitation span.navbar-toggler-icon.c-white {
        filter: brightness(0) invert(1);
    }

    .list .search,
    .list .search form {
        display: block !important;
    }

    .list .search,
    .make {
        width: 100% !important;
        margin-right: 0px !important;
        justify-content: center;
        padding: 1.5rem !important;
    }

    .list .search form>div {
        margin-bottom: 10px;
    }

    .list .row {
        padding: 0px 50px;
        justify-content: center;
    }

    .invitation .arrow {
        display: block;
    }

    .actions {
        left: 0;
    }

    #plans .arrow-white {
        transform: rotate(180deg);
        transition: 0.5s;
    }

    #plans .collapsed .arrow-white {
        transform: rotate(0deg);
    }

    /* modal share */

    .forma::after{
        content: "";
        display: block;
        background-color: #212121;
        width: 100%;
        height: 200px;
        position: absolute;
        left: 0;
        top: -46px;
        border-radius: 50%;
        transform: scale(1.2);
        z-index: 1;
    }
    
    #modalIdShare h2{
        position: relative;
        z-index: 2;
        color: white;
        padding-top: 40px;
    }

    #modalIdShare .modal-body .text{
        padding-top: 50px;
    }

    .sidebar{
        border-radius: 0px;
        background-color: #F6F6F6 !important;
        width: 100%;
        padding-left: 0px!important;
        padding-right: 0px!important;
    }

    .sidebar .text{
        color: #000;
        margin-top: 140px;
    }

    .sidebar .title{
        position: relative;
        z-index: 2;
    }

    .sidebar .title span{
        color: #F1B20A;
    }

    .sidebar .subtitle{
        display: block;
        z-index: 3;
    }

    .sidebar .save{
        margin-top: 50px;
    }

    .sidebar .text, #panel_edit{
        padding-right: 10px;
        padding-left: 10px;
    }

    .accordion-body  p, .accordion-body label{
        color: #000!important;
    }

}