@import "_custom.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oooh+Baby&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.f-baby {
  font-family: 'Oooh Baby', cursive;
}
.f-montserrat {
  font-family: 'Montserrat', sans-serif;
}
.f-playfair {
  font-family: 'Playfair Display', serif;
}
.f-playfair-sc {
  font-family: 'Playfair Display SC', serif;
}
.cut-1 {
  background: url('http://eventdate.test/img/templates/chic/cut-1.svg') no-repeat center bottom;
  background-size: 100%;
  height: 186px;
}
.cut-2 {
  background: url('http://eventdate.test/img/templates/chic/cut-2.svg') no-repeat center bottom;
  background-size: 100%;
  height: 171px;
}
.cut-3 {
  background: url('http://eventdate.test/img/templates/chic/cut-3.svg') no-repeat center bottom;
  background-size: 100%;
  height: 171px;
}
.bg-green {
  background-color: #7C8F90;
}
.bg-green-2 {
  background-color: #ced3d1;
}
.bg-green-light {
  background-color: #B9C3BF;
}
.bg-green-dark {
  background-color: #8C8C8C;
}
.text-red {
  color: #F66;
}
.accordion-button:not(.collapsed) {
  background: white;
}
.accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed {
  box-shadow: none !important;
}
.tns-controls {
  left: 0;
  position: absolute;
  top: 50%;
  width: 100%;
}
.tns-controls [data-controls="prev"], .tns-controls [data-controls="next"] {
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  border: 0;
  height: 24px;
  padding: 0;
  position: absolute;
  width: 24px;
}
.tns-controls [data-controls="prev"] {
  background-image: url('https://emidica.com/img/icos/ico-arrow-prev.svg');
}
.tns-controls [data-controls="next"] {
  background-image: url('https://emidica.com/img/icos/ico-arrow-next.svg');
  right: 0;
}
.nav-pills .nav-link.active {
  background: #212529;
  color: #FFF;
}
.nav-pills .nav-link {
  color: #333;
}
.leaves-2 {
  top: 100px;
}
.leaves-3 {
  bottom: -190px;
}
.leaves-4 {
  bottom: -360px;
}
.leaves-5 {
  top: -500px;
}
.leaves-6 {
  top: -390px;
}
.leaves-7 {
  bottom: -200px;
}
@media (max-width: 767px) {
  .leaves-1 {
    width: 120px;
  }
  .leaves-2 {
    bottom: 0;
    top: inherit;
    width: 220px;
  }
  .leaves-3 {
    width: 130px;
    bottom: 100px;
  }
  .leaves-4 {
    bottom: -100px;
    top: inherit;
    width: 200px;
  }
  .leaves-5 {
    top: -80px;
    width: 110px;
  }
  .leaves-6 {
    top: -190px;
    width: 160px;
  }
  .leaves-7 {
    bottom: -170px;
    width: 130px;
  }
  .cut-1 {
    background-size: auto 100%;
  }
  .cut-2 {
    background-size: auto 100%;
  }
  .cut-3 {
    background-size: auto 100%;
  }
}
