@import "_custom.css";

body {
  color: #212121;
}

img {
  max-width: 100%;
}

.text-dark{
    color: #212121;
}

.bg-dark-light {
  background-color: #212121;
}

.bg-gray-light{
    background-color: #F6F6F6;
    border-color: #F6F6F6;
}

.bg-white {
  background-color: #ffffff !important;
}

.btn-primary {
  background-color: #7fc6ba !important;
  border-color: #7fc6ba !important;
}

form input::placeholder{
    font-size: 15px;
}

#form{
    width: 450px;
}

.row > :first-child{
    border-top-right-radius: 200px;
}
h1{
    max-width: 450px;
}

.row > :first-child{
    position: relative;
}

.logo-2{
    display: none;
}

.column-right img{
    height: 100vh;
    width: 100%;
}

@media (max-width: 576px){
    .row > :first-child{
        border-top-right-radius: 0px;
        background-color: transparent;
    }
    #form{
        padding: 1.5rem!important;
        width: 100%;
        z-index: 3;
        position: relative;
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
    }
    #form input::placeholder{
        font-size: 12px;
    }
    .column-right{
        display: none!important;
    }
    h1{
        padding: 17px;
        text-align: left;
        background-color: #212121;
        z-index: 2;
        position: relative;
        max-width: 337px;
    }
    .column-left::before{
        content: "";
        display: inline-block;
        background-color: #212121;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 250px;
        z-index: 0;
        border-radius: 50%;
        transform: scale(1.5);
    }
    .logo-2{
        display: block;
    }
    .logo-1{
        display: none;
    }
}