/* IMPORTANTE: Necesita el archivo Custom */
@import "_custom.css";

:root {
  --c-primary: #7fc6ba;
  --c-secondary: #f1b20a;
  --gray: #707070;
  --gray-light: #f6f6f6;
  --dark: #212121;
  --filter-primary: brightness(0) invert(76%) sepia(52%) saturate(238%)
    hue-rotate(120deg) brightness(89%) contrast(83%);
  --filter-secondary: brightness(0) invert(68%) sepia(55%) saturate(1960%)
    hue-rotate(3deg) brightness(105%) contrast(92%);
}

a {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: inherit;
}

.bg-gray-light {
  background-color: var(--gray-light);
}

.bg-aqua {
  background-color: var(--c-primary);
}

.border-dark {
  border-color: var(--dark);
}

.bg-primary {
  background-color: var(--c-primary) !important;
}

.bg-secondary {
  background-color: var(--c-secondary) !important;
}

.bg-gray {
  background-color: var(--gray) !important;
}

.bg-gray-light {
  background-color: var(--gray-light) !important;
}

.text-primary {
  color: var(--c-primary) !important;
}

.text-secondary {
  color: var(--c-secondary) !important;
}

.text-gray {
  color: var(--gray) !important;
}

.text-gray-light {
  color: var(--gray-light) !important;
}

.border-primary {
  border-color: var(--c-primary) !important;
}

.border-secondary {
  border-color: var(--c-secondary) !important;
}

.border-gray {
  border-color: var(--gray) !important;
}

.border-gray-light {
  border-color: var(--gray-light) !important;
}

.principal-header{
  z-index: 9;
}

.principal-header a.nav-link{
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.principal-header a.nav-link:after {
  content: "";
  display: block;
  height: 3px;
  width: 20px;
  background-color: var(--c-primary);
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.principal-header a.nav-link:hover {
  font-weight: bold;
  color: inherit;
}

.principal-header a.nav-link:hover:after {
  opacity: 1;
}

/* BENEFITS */

.benefits .col-md-3 .card {
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
}

.benefits .card-body {
  padding-top: 40px;
}

.benefits .img-card{
	overflow: hidden;
	border-radius: 20px;
}

.benefits .card-body .border-dark,
.title {
  width: fit-content;
  margin: 0 auto;
}

.benefits .col-md-3 .card:hover{
}

.benefits .card-body .item-yellow {
  right: -10px !important;
  top: -12px !important;
}

.benefits .card-body .item-aqua {
  filter: brightness(0) invert(71%) sepia(40%) saturate(297%) hue-rotate(120deg)
    brightness(97%) contrast(86%);
  left: -10px !important;
  top: -10px !important;
}

.benefits .card-body .item-aqua:hover {
  filter: brightness(0) invert(100%) sepia(0%) saturate(1%) hue-rotate(280deg)
    brightness(111%) contrast(101%);
}

.benefits .card-img:hover {
  transform: scale(1.1);
  transition: 0.7s;
}

.benefits .card-body:hover {
  background-color: var(--c-primary);
  border-radius: 1rem;
}

.benefits .card-img.bottom,
.benefits .card-img.top {
  border-radius: 20px;
  height: auto;
  transition: transform 0.3s ease;
}

/* CREATE */

.create .container {
  height: auto;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.create .container {
  margin-top: 1rem;
  padding-top: 22px;
}


.create2 .container{
    height: 85vh;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    margin: 5px;
}


/* PLANS */

.our-plans .bg{
	background-color: #F3F3F3;
}

.our-plans .bg h3::after{
	
}



/* REVIEWS */


.reviews .perfil{
	width: fit-content;
    margin: 0 auto;
    border: 10px solid #F1F1F1;
    border-radius: 50px;
	box-shadow: 0 2px 5px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
	left: 50%;
    top: -10px;
    transform: translate(-50%, -50%);
}

.reviews .row{
	margin-top: 120px!important;
}

/* GIFT */

.gift .container{
	height: auto;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
	display: flex;
	align-items: center;
	background-color: #4AC6BB;
}

.gift .row{

}

.gift .leaves-1{
	left: -11px!important;
	top: -30px;
	width: 35px;
}

.gift .col > div{
	width: fit-content;
    margin: 0 auto;
	box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
}

/* carousel */
.tns-controls {
	left: 0;
	position: absolute;
	top: 50%;
	width: 100%;
  }
  .tns-controls [data-controls="prev"],
  .tns-controls [data-controls="next"] {
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	border: 0;
	height: 24px;
	padding: 0;
	position: absolute;
	width: 24px;
	z-index: 2;
  }
  .tns-controls [data-controls="prev"] {
	background-image: url("https://emidica.com/img/icos/ico-arrow-prev.svg");
	left: -30px;
	}
  .tns-controls [data-controls="next"] {
	background-image: url("https://emidica.com/img/icos/ico-arrow-next.svg");
	right: -20px;
	}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1240px;
  }
}

@media (max-width: 576px){
	.my-slider {
		flex-direction: column;
		padding: 30px;
	  }
	.tns-item {
		padding-right: 15px !important;
		transform: translateX(-15px);
	  }
	.tns-item img {
		max-width: calc(100% - 15px);
	  }
}

footer a:hover {
  color: var(--c-primary);
}

footer .redes a:hover {
  filter: var(--filter-primary);
}

/* FAQS */
.accordion-item{
	margin-bottom: 20px;
	border: 0 !important;
	border-radius: 20px;
}

.accordion-item > *{
	border: 0 !important;
}

.accordion-button{
	font-weight: bold;
	border: 1px solid #212121 !important;
	border-radius: 80px !important;
	box-shadow: none !important;
	-webkit-transition: all 0.2s ease;  
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;  
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.accordion-item:not(:first-of-type) {
    border: 0 !important;
}

.accordion-item:first-of-type .accordion-button{
	border-radius: 80px !important;
}

.accordion-body{
	font-weight: 500;
	padding-bottom: 30px;
}

.accordion-button:not(.collapsed){
	color: #000;
	border-color: #ddd !important;
	background-color: #eee;
}

.accordion-button:not(.collapsed)::after{
	filter: var(--filter-primary);
}

.bg-light{
	background-color: #F1F1F1 !important;
}

#contacto .img-fluid{
  object-fit: cover;
}

@media screen and (max-width: 900px) {
  #contacto .img-fluid{
    height: 300px;
  }
}

#tns1-iw {
  margin: 0px 0px 0px 0px;
}

.hearth-1{
  right: 65vw;
  width: 70px;
  top: -50px;
}
.hearth-2{
  width: 100px;
  margin-right: 8vw;
  top: 50px;
}