/* IMPORTANTE: Necesita el archivo Custom */
@import "_custom.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oooh+Baby&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap&family=Parisienne');

.f-baby {
  font-family: 'Oooh Baby', cursive;
}
.f-montserrat {
  font-family: 'Montserrat', sans-serif;
}
.f-playfair {
  font-family: 'Playfair Display', serif;
}
.f-playfair-sc {
  font-family: 'Playfair Display SC', serif;
}

:root {
  --c-primary: #7fc6ba;
  --c-secondary: #f1b20a;
  --gray: #707070;
  --gray-light: #f6f6f6;
  --dark: #212121;
  --filter-primary: brightness(0) invert(76%) sepia(52%) saturate(238%)
    hue-rotate(120deg) brightness(89%) contrast(83%);
  --filter-secondary: brightness(0) invert(68%) sepia(55%) saturate(1960%)
    hue-rotate(3deg) brightness(105%) contrast(92%);
}

a {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: inherit;
}

.bg-gray-light {
  background-color: var(--gray-light);
}

.bg-aqua {
  background-color: var(--c-primary);
}

.border-dark {
  border-color: var(--dark);
}

.bg-primary {
  background-color: var(--c-primary) !important;
}

.bg-secondary {
  background-color: var(--c-secondary) !important;
}

.bg-gray {
  background-color: var(--gray) !important;
}

.bg-gray-light {
  background-color: var(--gray-light) !important;
}

.bg-green {
  background-color: #7C8F90;
}

.text-primary {
  color: var(--c-primary) !important;
}

.text-secondary {
  color: var(--c-secondary) !important;
}

.text-gray {
  color: var(--gray) !important;
}

.text-gray-light {
  color: var(--gray-light) !important;
}

.border-primary {
  border-color: var(--c-primary) !important;
}

.border-secondary {
  border-color: var(--c-secondary) !important;
}

.border-gray {
  border-color: var(--gray) !important;
}

.border-gray-light {
  border-color: var(--gray-light) !important;
}

.principal-header {
  z-index: 9;
}

.principal-header a.nav-link {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.principal-header a.nav-link:after {
  content: "";
  display: block;
  height: 3px;
  width: 20px;
  background-color: var(--c-primary);
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.principal-header a.nav-link:hover {
  font-weight: bold;
  color: inherit;
}

.principal-header a.nav-link:hover:after {
  opacity: 1;
}

/* BENEFITS */

.benefits .col-md-3 .card {
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
}

.benefits .card-body {
  padding-top: 25px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.benefits .img-card {
  overflow: hidden;
  border-radius: 20px;
}

.benefits .card-body .border-dark,
.title {
  width: fit-content;
  margin: 0 auto;
}

.benefits .col-md-3 .card:hover {
}

.benefits .card-body .item-yellow {
  right: -10px !important;
  top: -12px !important;
}

.benefits .card-body .item-aqua {
  filter: brightness(0) invert(71%) sepia(40%) saturate(297%) hue-rotate(120deg)
    brightness(97%) contrast(86%);
  left: -10px !important;
  top: -10px !important;
}

.card:hover .card-body .item-aqua,
.card:hover .card-body .item-yellow {
  filter: brightness(0) invert(100%) sepia(0%) saturate(1%) hue-rotate(280deg)
    brightness(111%) contrast(101%);
}

.card:hover .card-img {
  transform: scale(1.1);
  transition: 0.7s;
}

.card {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.card:hover {
  background-color: var(--c-primary) !important;
}

.benefits .card-img.bottom,
.benefits .card-img.top {
  border-radius: 20px;
  height: auto;
  transition: transform 0.3s ease;
}

/* CREATE */

.create .container {
  height: auto;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.create .container {
  margin-top: 1rem;
  padding-top: 22px;
}

.create2 .container {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  margin: 0 10px;
  border-radius: 10px;
  width: auto;
  padding-bottom: 420px;
  overflow: hidden;
}

/* PLANS */

.our-plans .bg {
  background-color: #f3f3f3;
}

.our-plans .bg h3::after {
  content: "";
  display: block;
  width: 31px;
  border: 1px solid;
  margin-top: 3px;
}

.our-plans .price {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 170px;
  margin: 0 auto;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
}

.our-plans .packs-items {
  border-radius: 25px;
}

.our-plans .packs-items:hover {
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
}

.our-plans .btn.example:hover {
  background-color: white;
  border-color: white !important;
  color: var(--dark) !important;
}

.our-plans .btn.buy:hover {
  background-color: var(--dark);
}

.our-plans .text-top {
  transform: rotate(-35deg);
}

.our-plans .bg-dark.free,
.our-plans .bg-aqua.chose {
  overflow: hidden;
  z-index: 1;
}


.our-plans .packs-items .bg-dark.free::before {
  content: "Gratuito";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -32px;
  padding: 5px 29px;
  background-color: var(--c-primary);
  transform: rotateZ(323deg);
  font-weight: 600;
  font-size: 11px;
}

.our-plans .packs-items .bg-aqua.chose::before {
  content: "Más elegidos";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -32px;
  padding: 5px 29px;
  background-color: var(--c-secondary);
  transform: rotateZ(323deg);
  color: white;
  font-weight: 600;
  font-size: 11px;
}
.our-plans .packs-items .bg-dark.free::before{
	content: "Gratuito";
	display: inline-block;
	position: absolute;
	top: 6px;
	left: -20px;
	padding: 5px 29px;
	background-color: var(--c-primary);
	transform: rotateZ(323deg);
	font-weight: 600;
	font-size: 11px;
}

.our-plans .packs-items .bg-aqua.chose::before{
	content: "Más elegidos";
	display: inline-block;
	position: absolute;
	top: 14px;
	left: -32px;
	padding: 5px 29px;
	background-color: var(--c-secondary);
	transform: rotateZ(323deg);
	color: white;
	font-weight: 600;
	font-size: 11px;
}

/* REVIEWS */

.reviews .perfil {
  width: fit-content;
  margin: 0 auto;
  border: 10px solid #f1f1f1;
  border-radius: 50px;
  box-shadow: 0 2px 5px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  left: 50%;
  top: -10px;
  transform: translate(-50%, -50%);
}

.reviews .row {
  margin-top: 120px !important;
}

/* GIFT */

.gift .container {
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  align-items: center;
  background-color: #4ac6bb;
}

.gift .row {
}

.gift .leaves-1 {
  left: -11px !important;
  top: -30px;
  width: 35px;
}

.gift .col > div {
  width: fit-content;
  margin: 0 auto;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
}
@media screen and (max-width: 900px) {
	.gift .leaves-1{
		left: 10px!important;
		top: -25px;
	}
}

.gift .col > div{
	width: fit-content;
    margin: 0 auto;
	box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
}

/* carousel */
.my-slider {
  padding-top: 10px;
  padding-bottom: 10px;
}

.my-slider a {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.my-slider a:hover {
  display: block;
  transform: scale(1.05);
}

.tns-controls {
  left: 0;
  position: absolute;
  top: 50%;
  width: 100%;
}
.tns-controls [data-controls="prev"],
.tns-controls [data-controls="next"] {
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  border: 0;
  height: 24px;
  padding: 0;
  position: absolute;
  width: 24px;
  z-index: 2;
}
.tns-controls [data-controls="prev"] {
  background-image: url("https://emidica.com/img/icos/ico-arrow-prev.svg");
  left: -30px;
}
.tns-controls [data-controls="next"] {
  background-image: url("https://emidica.com/img/icos/ico-arrow-next.svg");
  right: -20px;
}

@media screen and (max-width: 900px) {
  .tns-controls [data-controls="prev"] {
    left: -10px;
  }
  .tns-controls [data-controls="next"] {
    right: -15px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1240px;
  }
}


@media (max-width: 576px) {
  .my-slider {
    flex-direction: column;
    padding: 30px;
  }
  .tns-item {
    padding-right: 15px !important;
    transform: translateX(-15px);
  }
  

  .our-plans .price {
    width: 250px;
  }
  .our-plans .packs-items .bg-dark.free::before {
    font-size: 18px;
  }
  .our-plans .packs-items .bg-aqua.chose::before {
    font-size: 16px;
  }
  .our-plans .packs-items .arrow {
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
  }
  .our-plans .packs-items .collapsed .arrow-white{
    transform: rotate(0deg);
  }
  .our-plans .packs-items .arrow-white{
    /* transform: rotate(180deg); */
    transition: 0.5s;
  }

  .our-plans .card.card-body{
    border: none;
  }

  .reviews-mobile .my-slider-3{
    padding-top: 60px;
  }

  .reviews-mobile .my-slider-3 .col{
    height: 310px;
  }

  .reviews-mobile .tns-item img{
    max-width: inherit;
  }

  .reviews-mobile .tns-outer .tns-nav{
    bottom: -2rem!important;
  }

  .reviews-mobile .my-slider-3  .bg{}
}

footer a:hover {
  color: var(--c-primary);
}

footer .redes a:hover {
  filter: var(--filter-primary);
}

/* FAQS */
.accordion-item {
  margin-bottom: 20px;
  border: 0 !important;
  border-radius: 20px;
}

.accordion-item > * {
  border: 0 !important;
}

.accordion-button {
  font-weight: bold;
  border: 1px solid #212121 !important;
  border-radius: 80px !important;
  box-shadow: none !important;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.accordion-item:not(:first-of-type) {
  border: 0 !important;
}

.accordion-item:first-of-type .accordion-button {
  border-radius: 80px !important;
}

.accordion-body {
  font-weight: 500;
  padding-bottom: 30px;
}

.accordion-button:not(.collapsed) {
  color: #000;
  border-color: #ddd !important;
  background-color: #eee;
}

.accordion-button:not(.collapsed)::after {
  filter: var(--filter-primary);
}

.bg-light {
  background-color: #f1f1f1 !important;
}

#contacto .img-fluid {
  object-fit: cover;
}

#model1 .modal-content{
  min-width: 700px;
  height: 530px;

}
#model2 .modal-content, #model3 .modal-content{
  min-width: 700px;
  height: auto;
}
#model1 .modal-body{
  background-color: #f6e4d3;
  padding-left: 0;
  padding-right: 0;
}
#model1 .modal-body .bg{
  background-color: #fbf1e9;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#model1 .modal-body h2{
  font-family: 'Parisienne', cursive;
  font-size: 50px;
}
#model1 .modal-body .bg button{
  width: fit-content;
  margin: 0 auto;
}
#model2 .modal-body p, #model3 .modal-body p{
  max-width: 450px;
  margin: 0 auto;
  padding-bottom: 20px;
}


/* Examples plans */

.free-invitation{
  position: fixed;
  width: 100%;
  z-index: 2;
  bottom: 0;
}
.free-invitation:hover{
  background-color: #212121;
}

#example1 .modal-dialog{
  margin: 0;
  min-width: 100%;
}

@media screen and (max-width: 900px) {
  #contacto .img-fluid {
    height: 300px;
  }
}

@media screen and (min-width: 900px) {
  [id*="-iw"]{
    margin: 0px 0px 0px 0px !important;
  }
}

@media screen and (max-width: 900px) {
  #principal-spot{
	  background-position: 31% 100%;
	 }
	.benefits [id*="-iw"]{
    margin: 0px -30px 0px 17px !important;
  }
  .benefits .tns-controls{
    display: none;
  }
  .models [id*="-iw"]{
    margin: 0 -27px 0px 32px !important;
  }
  .reviews-mobile [id*="-iw"]{
    margin: 0 0px 0px 13px !important;
  }
  .gift .container{
    background-image: url(../img/landing-bodas/bg-premio-mobile.svg) !important;
    background-position: center;
    background-size: 100%;
  }
}


.hearth-0 {
  width: 200px;
}
.hearth-1 {
  right: 65vw;
  width: 70px;
  top: -50px;
}
.hearth-2 {
  width: 100px;
  margin-right: 8vw;
  top: 50px;
}
@media screen and (max-width: 900px) {
	.hearth-0,
	.hearth-2{
		display: none
	}
}

.tns-nav{
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: center;
	width: 100%;
	position: absolute;
	bottom: 0;
}
.tns-nav > button{
	display: block;
	border: 0;
	background-color: #000;
	width: 12px !important;
	height: 12px;
	border-radius: 50%;
	opacity: 0.5;
	overflow: hidden;
}
.tns-nav > button.tns-nav-active{
    opacity: 1;
    z-index: 2;
}