@import "_custom.css";

body {
  color: #212121;
  overflow-x: hidden !important;
  width: 100vw;
  touch-action: pan-y;
}

img {
  max-width: 100%;
}

.text-dark{
    color: #212121;
}

.bg-dark-light {
  background-color: #212121;
}

.bg-gray-light{
    background-color: #F6F6F6;
    border-color: #F6F6F6;
}

.bg-white {
  background-color: #ffffff !important;
}

.btn-primary {
  background-color: #7fc6ba !important;
  border-color: #7fc6ba !important;
}

form input::placeholder{
    font-size: 15px;
}


.row > :first-child{
    border-top-right-radius: 200px;
}

@media (max-width: 576px){
    .row > :first-child{
        border-top-right-radius: 0px;
    }
    #form{
        padding: 1.5rem!important;
    }
}